config rustscan 'config'
	option enabled '0'
	option batch_size '4500'
	option timeout '1500'
	option tries '1'
	option greppable '0'
	option accessible '0'
	option ulimit '5000'
	option top_ports '1000'
	option scripts_timeout '10000'
	option range ''
	option ports ''
	option exclude_ports ''
	option config_file '/etc/rustscan/rustscan.toml'

config scan_profile 'fast'
	option name 'Fast Scan'
	option batch_size '4500'
	option timeout '1000'
	option tries '1'
	option top_ports '1000'

config scan_profile 'thorough'
	option name 'Thorough Scan'
	option batch_size '2000'
	option timeout '3000'
	option tries '3'
	option top_ports '65535'

config scan_profile 'stealth'
	option name 'Stealth Scan'
	option batch_size '500'
	option timeout '5000'
	option tries '1'
	option top_ports '1000'
